/* styles/3-common.css */
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Placeholder div to push footer to bottom */
.content-wrapper {
    flex-grow: 1;
}
